<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Board Game</title>
    {% load static %}
</head>

<body>
    <nav>
        {% if not user.is_authenticated %}
        <aside>
            <a class="log" href="{% url 'user:login' %}">로그인</a>
            <a class="log" href="{% url 'user:join' %}">회원가입</a>
        </aside>
        {% else %}
        <aside>
            <a>환영합니다. {{ user.first_name }}님</a>
            <a class="log" href="{% url 'user:logout' %}">로그아웃</a>
        </aside>
        {% endif %}
    </nav>

    
</body>

<footer>
    <section>
        <a href="https://github.com/Dezeli/BoardGame" target='_blank'></a>
        <p><small>&copy; 2024 Dezeli</small></p>
        <p><small>haterecursive@gmail.com</small></p>
    </section>
</footer>

</html>