<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Board Game</title>
    {% load static %}
</head>

<body>
    <div>
        <p><회원 가입></p>
        <form action="{% url 'user:join' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="" value="추가하기">
        </form>
    </div>
        {% if messages %}
        {% for message in messages %}
        <script>alert("{{ message }}")</script>
        {% endfor %}
        {% endif %}
</body>

<footer>
    <section>
        <a href="https://github.com/Dezeli/BoardGame" target='_blank'></a>
        <p><small>&copy; 2024 Dezeli</small></p>
        <p><small>haterecursive@gmail.com</small></p>
    </section>
</footer>

</html>