<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Board Game</title>
    {% load static %}
</head>

<body>
    <main>
        <div>
            <p><로그인></p>
            <form action="{% url 'user:login' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="" value="로그인">
            </form>
            {% if messages %}
            {% for message in messages %}
            <script>alert("{{ message }}")</script>
            {% endfor %}
            {% endif %}
        </div>
    </main>
</body>

<footer>
    <section>
        <a href="https://github.com/Dezeli/BoardGame" target='_blank'></a>
        <p><small>&copy; 2024 Dezeli</small></p>
        <p><small>haterecursive@gmail.com</small></p>
    </section>
</footer>

</html>